@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. 커스텀 스크롤바 */
.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f1f1f1; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #CEAC93; border-radius: 3px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #AE8B72; }

/* 2. 카카오맵 인포윈도우 */
.custom-infowindow {
    padding: 10px; background: white; border-radius: 8px;
    border: 1px solid #AE8B72; font-size: 12px;
    text-align: center; box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}